<p id="notice"><%= notice %></p>

<h1>People</h1>

<script type="text/javascript" src="assets/javascripts/filter.js"></script>
<div class="input-group" style="float: right; margin-top: 14px;">
    <input id="filter" type="text" class="form-control" placeholder="Filter results">
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= person.description %></td>
        <td><%= render person.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
