<div class="post">
  <span class="post-title"><%= link_to post.title, post %></span>
  <span class="post-poster">by <%= post.poster %></span>
  <p><span class="post-description"><%= post.description %></span></p><br>
  <span class="post-tags"><%= render post.tags %></span>
</div>
