<div class="post">
  <span class="post-title"><%= link_to post.title, post %></span>
  <span class="post-poster">by <%= post.poster %></span>
  <p></p><span class="post-description"><%= post.description %></span></p>
  <div class="post-tags"><%= render post.tags %></div>
</div>
