#carousel {
  //height: 300px;
  margin: 0 auto;

  img {
    margin: 0 auto;
  }
}
.carousel-wrapper {
  background-color: #515151;
}
.carousel-caption {
  margin: 0 auto;
  height: 150px;
  font-weight: bold;
  font-size: 30px;
}
.carousel-indicators {
  bottom: -5px !important;
}
