.posts {
  margin-top: 1em;
}
.post {
  padding: 0.25em 0;
}
.post-title {
  font-size: 20px;
  a {
    color: #ffd106 !important;
  }
  a:hover {
    color: #ffd106 !important;
  }
}
.post-poster {
  color: #acacac !important;
  a {
    color: #acacac !important;
  }
}
.post-tags {
  a {

    background: #ffd106 !important;
    display: inline-block;
    color: #fff !important;
    position: relative;
    font-size: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    margin: 0 5px 0 0;
    text-decoration: none;
  }
}
