.new-link {
  padding: 1em 0;
}
.container {
  width: 80%;
  max-width: 1200px;
}
.navbar-right {
  margin-right: 0px !important;
}
.navbar-brand {
  color: #000 !important;
  font-weight: bold;

  strong {
    color: #ffd106 !important;
  }
}
h1 {
  font-size: 30px !important;
}

nav {
  font-size: 20px !important;
}
